---
layout: default
section: blog
---

<div class='listing col6 pad4h margin3'>

  <div class="jumbotron">
    <div class="row">
      <div class="col-md-8">
        <h1>Václav Klecanda, programátor a pirát!</h1>

        <p>
          Jsem programátor na volné noze, freelancer.
          Zaměřuji se na vývoj webových aplikací především v pythonu
            (+<a href="http://www.djangoproject.cz/">django</a>,
            Nginx s <a href="http://projects.unbit.it/uwsgi/">uWSGI</a>,
            <a href="http://cs.wikipedia.org/wiki/PostgreSQL">Postgres</a>).
        </p>

        <p>
          Ve volnu se snažím aktivně <a href="https://github.com/vencax/">přispívat do komunity</a>.
          Zajímá mne <a href="http://cs.wikipedia.org/wiki/Do_it_yourself">DIY kultura</a>
          a svobodná tvorba (především <a href="http://cs.wikipedia.org/wiki/Otev%C5%99en%C3%BD_software">opensource</a>).
        </p>

        <p>
          Mám zkušenosti s širokou škálou opensource programů
          a hlavně s operačním systémem <a href="http://www.linux.cz/">linux</a> (různá distra).
        </p>

        <p>
          <a href="http://www.pirati.cz/lide/vaclav_klecanda">Jsem pirát</a>,
          protože mi záleží na tom, jak bude internet vypadat a k čemu bude sloužit.
          Záleží mi na svobodě člověka, ne trhu.
        </p>
      </div>

      <div class="col-md-4">
        <img src="/img/me.png" alt="moje hero fotka" style="width: 330px;"/></div>
      </div>
    </div>
  </div>

  {% for item in site.categories.blog limit:1000 %}
    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
    {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}

    {% if date != ndate %}
      <h4 class='month'>{{item.date | date: '%B %Y'}}</h4>
    {% endif %}
    <a class='item' href='{{site.baseurl}}{{item.url}}'>
      {{item.title}} <span class='date'>&#126; {{item.date | date:"%b %d"}}</span>
      <p>{{ item.excerpt }}</p>
    </a>
  {% endfor %}
</div>

{% include rss-link.html %}
