---
layout: default
section: blog
---

<div class="jumbotron">
  
  <h2>Ahoj, jsem Vašek a jsem programátor na volné noze</h2>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img src="/img/me.png" alt="moje hero fotka" style="float:right"/>
      
      Zaměřuji se na vývoj webových aplikací především v pythonu
        (<a href="http://www.djangoproject.cz/">django</a>) a nově v javascriptu.

      Ve volnu programuju <a href="https://github.com/vencax/"> nebo vymýšlím vzdušné zámky</a>.
      Zajímá mne <a href="http://cs.wikipedia.org/wiki/Do_it_yourself">DIY kultura</a>
      a svobodná tvorba (především <a href="http://cs.wikipedia.org/wiki/Otev%C5%99en%C3%BD_software">opensource</a>).

      Mám zkušenosti s širokou škálou opensource programů
      a hlavně s operačním systémem <a href="http://www.linux.cz/">linux</a> (různá distra).

      <a href="http://www.pirati.cz/lide/vaclav_klecanda">Jsem pirát</a>,
      protože mi záleží na tom, jak bude internet vypadat a k čemu bude sloužit.
      Záleží mi na svobodě člověka, ne trhu.

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">

    {% for item in site.categories.blog limit:5 %}
      {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
      {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}

      {% if date != ndate %}
        <h4 class='month'>{{item.date | date: '%B %Y'}}</h4>
      {% endif %}
      <a class='item' href='{{site.baseurl}}{{item.url}}'>
        {{item.title}} <span class='date'>&#126; {{item.date | date:"%b %d"}}</span>
        <p>{{ item.excerpt }}</p>
      </a>
    {% endfor %}
  </div>

  <div class="col-md-6">
    Github RSS render
  </div>
</div>

{% include rss-link.html %}
