
<h2>ahoj, jsem Vašek a jsem programátor na volné noze</h2>

<img src="/img/me.png" alt="le me, foto" class="push-right">

Zaměřuji se na vývoj webových aplikací především v pythonu
  (<a href="http://www.djangoproject.cz/">django</a>) a nově v javascriptu.

Ve volnu programuju <a href="https://github.com/vencax/"> nebo vymýšlím vzdušné zámky</a>.
Zajímá mne <a href="http://cs.wikipedia.org/wiki/Do_it_yourself">DIY kultura</a>
a svobodná tvorba (především <a href="http://cs.wikipedia.org/wiki/Otev%C5%99en%C3%BD_software">opensource</a>).

Mám zkušenosti s širokou škálou opensource programů
a hlavně s operačním systémem <a href="http://www.linux.cz/">linux</a> (různá distra).

<a href="http://www.pirati.cz/lide/vaclav_klecanda">Jsem pirát</a>,
protože mi záleží na tom, jak bude internet vypadat a k čemu bude sloužit.
Záleží mi na svobodě člověka, ne trhu.
