
<div class="clearfix socialicons">
  <a href="mailto:vencax77@gmail.com" class="float-left"><i class="fi-mail"></i></a>
  <a href="https://github.com/vencax/" class="float-left"><i class="fi-social-github"></i></a>
  <a href="http://www.linkedin.com/pub/vaclav-klecanda/9/686/979" class="float-left"><i class="fi-social-linkedin"></i></a>
  <a href="https://www.facebook.com/vaclav.klecanda" class="float-left"><i class="fi-social-facebook"></i></a>
  <a href="https://plus.google.com/116355855439950582212/" class="float-left"><i class="fi-social-google-plus"></i></a>
</div>
