
.top-bar-title {
  font-size: 150%;
}

.footer {
  margin-top: 3em;
  padding: 2em;
}

.callout {
  background-image: url("/img/heroback.jpg");
  background-color: black;
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  margin-bottom: 2em;
}

.faded {
  background-color:rgba(0, 0, 0, 0.8);
  padding: 2em;
  color: white;
}

@media (min-width: 480px) {
  .hero img {
    max-height: 30em;
  }
}

.socialicons {
  font-size: 32px;
}

.socialicons a {
  padding: 0 5px;
}

.fotoindex img {
  max-height: 20em;
}
