---
title: 'programátor a pirát!'
---
<!DOCTYPE html>
<html lang="cz">
<head>
  <meta charset='UTF-8'/>
  <title>Václav Klecanda {% if page.url != '/index.html' %}| {{page.title}}{% else %}Programátor, admin{% endif %}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  {% if page.tags  %}<meta name="tags" content="{{ page.tags  }}">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='alternate' type='application/rss+xml' title='RSS' href='SITEURLGOESHERE/blog.rss' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
</head>
<body>

  <!-- Static navbar -->
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href='{{site.baseurl}}/'>O mě (About)</a>
          </li>
          <li class='{% if page.section == "blog" %}active{% endif %}'>
            <a href='{{site.baseurl}}/blog'>Blog</a>
          </li>
          <li class='{% if page.url == "cv/" %}active{% endif %}'>
            <a href='{{site.baseurl}}/cv'>CV</a>
          </li>
          <li class='{% if page.url == "eduit/" %}active{% endif %}'>
            <a href='{{site.baseurl}}/eduit'>EduIT</a>
          </li>
        </ul>
        <!-- <ul class="nav navbar-nav navbar-right">
          <li><a href="../navbar/">Default</a></li>
          <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
          <li><a href="../navbar-fixed-top/">Fixed top</a></li>
        </ul> -->
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class='container-fluid'>

    {{content}}

    {% include footer.html %}
  </div>
  <script src='{{site.baseurl}}/site.js'></script>
</body>
